html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 4px;
  background: #f3f3f3;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
